[submodule "themes/beyondnothing"]
	path = themes/beyondnothing
	url = https://github.com/salcan/beyondnothing.git
[submodule "themes/hugo-minimalist-spa"]
	path = themes/hugo-minimalist-spa
	url = https://github.com/Sag-Dev/hugo-minimalist-spa.git
